<script defer src="/javascripts/exerciseListGenerator.js"></script>

<div class="temporaryFormDisplay">THE EXERCISE LIST IS BEING LOADED</div>

<div class="exerciseForm">
	<form method="POST" action="/editexercise/{{ exercise }}">
		<div>
			<label for="exerciseName">EXERCISE NAME</label>

			<input type="text" required name="exerciseName" placeholder="Required" list="exercisesEntryList" value="{{ name }}">

			<datalist id="exercisesEntryList"></datalist>
		</div>

		<br>

		<div>
			<label for="exerciseWeight">EXERCISE WEIGHT (KG)</label>

			<input type="number" min="0" value="{{ weight }}" placeholder="Required - Increments of 0.01" step="0.01" required name="exerciseWeight">
		</div>
		
		<br>

		<div>
			<label for="exerciseSets">NUMBER OF SETS</label>

			<input type="number" min="0" value="{{ sets }}" placeholder="Required" required name="exerciseSets">
		</div>
		
		<br>

		<div>
			<label for="exerciseReps">NUMBER OF REPS</label>

			<input type="number" min="0" value="{{ reps }}" placeholder="Required" required name="exerciseReps">
		</div>

		<br>

		<input type="hidden" name="identifier" value="{{ id }}">

		<div>
			<input type="submit" value="UPDATE EXERCISE">
		</div>
	</form>
</div>